/* General */
html {
	height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
	height: 100%;
}
#app {
	height: 100%;
	background-color: #f7f7f7;
}
.parent-wrapper {
	display: flex;
	justify-content: center;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 12px;
}
.page-title {
	padding-top: 20px;
}

/* Color Pallete */

.light-red {
	color: #FF7D7D;
}
.red {
	color: red;
}
.green {
	color: green;
}

/* Error Box */
.error-box {
    color: red;
    font-weight: bold;
}

/* Info Box */
.info-box {
    color: green;
    font-weight: bold;
}

/* Navigaation Bar */

.navigation {
	background-color: #343a40;
}
.navigation-wrapper {
	display: flex;
	justify-content: space-between;
}

.navigation-link {
	display: flex;
}

.navigation-button {
	display: flex;
	padding: 7px 0;
}

.navigation a:first-child {
	padding-left: 0px;
}

.navigation a {
	display: block;
	color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	outline: none;
}

.navigation a:hover:not(.active) {
	text-decoration: none;
	color: white;
	outline: none;
}

.navigation .active {
	color: white;
	font-weight: bold;
	cursor: auto;
	text-decoration: none;
	outline: none;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login, Register */
#login, #register {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #f7f7f7;
}
.login-content, .register-content {
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	border-radius: 15px;
	padding: 4vh 7vh;
	width: 33vw;
	max-width: 450px;
	background-color: #ffffff;
}
.login-content-title, .register-content-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.login-content-register, .register-content-register {
	color: gray;
	font-size: 0.8em;
}

/* Table */
table tr:hover {
	cursor: pointer;
}
table td {
	vertical-align: middle !important;
}
table tr th:first-child, table tr td:first-child {
	width: 40px;
}
table tr th:last-child, table tr td:last-child {
	width: 160px;
}

/* Edit Page */
.edit-image-labeled, .edit-image-editing { 
	font-weight: bold;
}
.edit-image-labeled {
	color: green;
}
.edit-image-editing {
	color: red;
}
