/* General */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app > div {
	margin: 0 20px;
}

/* Color Pallete */

.light-red {
	color: #FF7D7D;
}
.red {
	color: rgb(255, 98, 98);
}

/* Navigaation Bar */

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FF7D7D;
}

.navigation li {
	float: left;
}

.navigation  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation li a:hover:not(.active) {
	background-color: rgb(255, 98, 98);
}

.navigation .active {
	background-color: white;
	color: #707070;
}

/* Login */

#bg{
	width: 100%;
	height: 100%;
}

#welcome-container{
	height: 100vh;
	/* background-color:#FF7D7D; */
}

#sign-up-container{
	height: 100vh;
	background-color: white;
}

#welcome{
	font-family: 'Raleway';
	font-weight: bolder;
	font-size: 78px;
	color: #707070;
}

#___{
	font-family: 'Arial';
	font-weight: bolder;
	font-size: 78px;
	white-space: pre-line;
	color: #FF7D7D;
}

#form-container{
	background-color:white;
}

#email{
	/*width: 50vw;*/
}

#pwd{
	/*width: 50vw;*/
}

.form-label{
	font-family: 'Raleway';
	font-weight: lighter;
	font-size: 25px;
	white-space: pre-line;
	color: #707070;
}

.form-control{
	height: 57px;
	border-radius: 34px;
}

#submit{
	font-family: 'Raleway';
	border-radius: 34px;
	background-color: #FF7D7D; 
	color: white;
	height: 57px;
	width: 100%;
	font-size: 25px;
	font-weight: lighter;
}

.register{
	font-family: 'Raleway';
	font-size: 15px;
	color: #707070;
	margin: 30px;
	text-align: center;
	font-weight: bold;
}

#link{
	font-family: 'Raleway';
	font-size: 15px;
	margin: 30px;
	text-align: center;
	font-weight: bold;
	color: #FF7D7D;
}

#sign-up{
	border-radius: 20px;
	border: none;
	color: #FF7D7D;
	background-color: white;
}

#sign-up:hover {
  background-color: #FF7D7D;
  color: white;
}

#log-in{
	border-radius: 20px;
	border: none;
	color: #FF7D7D;
	background-color: white;
}

#log-in:hover {
  background-color: #FF7D7D;
  color: white;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Other Page */
