/* General */
html {
	height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
	height: 100%;
}
#app {
	height: 100%;
	background-color: #f7f7f7;
}

/* Color Pallete */

.light-red {
	color: #FF7D7D;
}
.red {
	color: #ff6262;
}

/* Error Box */
.error-box {
    color: red;
    font-weight: bold;
}

/* Info Box */
.info-box {
    color: green;
    font-weight: bold;
}

/* Navigaation Bar */

.navigation {
	background-color: #343a40;
	display: flex;
	justify-content: center;
}
.navigation-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;
}

.navigation-link {
	display: flex;
}

.navigation-button {
	display: flex;
	padding: 7px 0;
}

.navigation a {
	display: block;
	color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	outline: none;
}

.navigation a:hover:not(.active) {
	text-decoration: none;
	color: white;
	outline: none;
}

.navigation .active {
	color: white;
	font-weight: bold;
	cursor: auto;
	text-decoration: none;
	outline: none;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login, Register */
#login, #register {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #f7f7f7;
}
.login-content, .register-content {
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	box-shadow: 10px 6px 36px -11px rgba(0,0,0,0.75);
	border-radius: 15px;
	padding: 4vh 7vh;
	width: 33vw;
	max-width: 450px;
	background-color: #ffffff;
}
.login-content-title, .register-content-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.login-content-register, .register-content-register {
	color: gray;
	font-size: 0.8em;
}

/* Edit Page */
table.table-label {
	border-collapse: collapse;
	width: 100%;
}

table.table-label th, #edit td {
	border: 1px solid #ddd;
  	padding: 8px;
}

table.table-label tr:nth-child(even){
	background-color: #f2f2f2;
}

table.table-label tbody td:nth-child(3){
	font-weight: bold;
}

table.table-label tbody tr:hover {
	background-color: #ddd;
	text-decoration: underline;
	cursor: pointer;
}

table.table-label th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ff6262;
	color: white;
}

.edit-image-labeled {
	color: green;
}

.edit-image-editing {
	color: red;
}

/* UserRole */

#userrole .dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
  
#userrole .dropdown {
	position: relative;
	display: inline-block;
}
  
#userrole .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
#userrole .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
#userrole .dropdown-content a:hover {background-color: #ddd;}
  
#userrole .dropdown:hover .dropdown-content {display: block;}
  
#userrole .dropdown:hover .dropbtn {background-color: #3e8e41;}

