body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bg{
	width: 100%;
	height: 100%;
}

#welcome-container{
	height: 100vh;
	/* background-color:#FF7D7D; */
}

#sign-up-container{
	height: 100vh;
	background-color: white;
}

#welcome{
	font-family: 'Raleway';
	font-weight: bolder;
	font-size: 78px;
	color: #707070;
}

#___{
	font-family: 'Arial';
	font-weight: bolder;
	font-size: 78px;
	white-space: pre-line;
	color: #FF7D7D;
}

#form-container{
	background-color:white;
}

#email{
	/*width: 50vw;*/
}

#pwd{
	/*width: 50vw;*/
}

.form-label{
	font-family: 'Raleway';
	font-weight: lighter;
	font-size: 25px;
	white-space: pre-line;
	color: #707070;
}

.form-control{
	height: 57px;
	border-radius: 34px;
}

#submit{
	font-family: 'Raleway';
	border-radius: 34px;
	background-color: #FF7D7D; 
	color: white;
	height: 57px;
	width: 100%;
	font-size: 25px;
	font-weight: lighter;
}

.register{
	font-family: 'Raleway';
	font-size: 15px;
	color: #707070;
	margin: 30px;
	text-align: center;
	font-weight: bold;
}

#link{
	font-family: 'Raleway';
	font-size: 15px;
	margin: 30px;
	text-align: center;
	font-weight: bold;
	color: #FF7D7D;
}

#sign-up{
	border-radius: 20px;
	border: none;
	color: #FF7D7D;
	background-color: white;
}

#sign-up:hover {
  background-color: #FF7D7D;
  color: white;
}

#log-in{
	border-radius: 20px;
	border: none;
	color: #FF7D7D;
	background-color: white;
}

#log-in:hover {
  background-color: #FF7D7D;
  color: white;
}